<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brian's PokeDex Login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="./css/login.css">
</head>

<body>
    <div id="outer">
        <header>
            <h1>
                Brian's PokeDex Login
            </h1>
        </header>

        <nav>
            <div class="topnav">
                <a class="active" href="index.html">Home</a>
                <a href="search.html">Search</a>
                <a href="timeline.html">Timeline</a>
                <input type="text" id="poke_name" placeholder="Search a Pokemon by name" />
            </div>
        </nav>


        <h1>Login</h1>
        <% if (messages.error) { %>
            <%= messages.error %>
                <% } %>


                    <div id="login_form">
                        <form action="/login" method="POST">
                            <div>
                                <label for="email">Email</label>
                                <input type="email" id="email" name="email" required>
                            </div>
                            <div>
                                <label for="password">Password</label>
                                <input type="password" id="password" name="password" required>
                            </div>
                            <button type="submit">Login</button>
                        </form>
                        <a href="/register">Register</a>
                    </div>

                    <footer>
                        <h5>
                            Copyright © Your Website 2022
                        </h5>
                    </footer>
    </div>


</body>

</html>